.slide{
    height: 200px;
    background-color: aqua;
    margin-top: 80px;
}

.content-grid{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.content-grid>a{
    text-decoration: none;
    color: black;
}

.card{
  width: 250px;
  border: 1px solid #cccc;
  box-shadow: 1px 1px #cccc;
  border-radius: 6px;
  margin: 10px;
}
.card>h1{
    padding: 10px;
    font-size: 20px;
}
.card h2{
    padding: 10px;
    font-size: 17px;
}
.card>img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}